.home-layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home a {
  background-color: rgb(59, 52, 83);
  padding: 15px;
  border-radius: 90px;
  border-top: 1px solid rgb(134, 134, 134);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.home a:hover {
  background-color: rgb(43, 38, 61);
  transition: 0.4s;
}
