.post-align {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
.post-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.post-layout {
  background-color: rgb(59, 52, 83);
  padding: 15px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.18);
}
.post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.post-info p {
  font-size: 0.8em;
  color: rgb(196, 196, 196);
}
.post-delete {
  position: absolute;
  z-index: 0;
  top: 7px;
  right: 0;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}
.post-delete-icon {
  color: red;
  opacity: 0.4;
  cursor: pointer;
}
.post-delete:hover {
  background-color: rgb(43, 38, 61);
  transition: 0.3s;
}
.profile-bar {
  display: flex;
}
.profile-bar-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}
.profile-avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  object-position: center;
  object-fit: cover;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.18);
}
.counter {
  display: flex;
  gap: 3px;
  margin: 0 auto;
  opacity: 0.8;
}
.interaction {
  display: flex;
}
.interaction-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}
.liked {
  color: red;
  animation: like 0.3s forwards;
}
.notLiked {
  color: white;
  animation: dislike 0.3s forwards;
}
.interaction-material-wrapper {
  align-items: center;
  gap: 5px;
  display: flex;
  padding: 5px 11px;

  border-radius: 20px;
  background-color: rgb(50, 44, 70);
}
.interaction-material-wrapper:hover {
  cursor: pointer;
  background-color: rgb(46, 41, 65);
  transition: 0.2s;
}

.circle-icon {
  color: rgb(34, 30, 48);
}
.circle-icon-active {
  color: white;
  animation: slide 0.3s forwards;
}
@keyframes slide {
  0% {
    color: rgb(34, 30, 48);
    transform: translate(0) scaleY(2) scaleX(2);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}
@keyframes like {
  0% {
    color: white;
    transform: translate(0) scaleY(2) scaleX(2);
  }
  100% {
    color: red;
  }
}
@keyframes dislike {
  0% {
    color: red;
  }
  100% {
    color: white;
  }
}
